ul {
  list-style: none;
}

.container {
  margin: auto;
}

.row {
  display: flex;
}

.col-third {
  flex-basis: calc(100% / 3);
  align-items: center;
}

.header-h2 {
  color: orange;
}

.header-option {
  border: none;
}

.row1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row2 {
  display: flex;
  justify-content: center;
}

.search-border {
  border: 2px solid orange;
  border-radius: 3px;
}

.input-search {
  width: 400px;
  height: 35px;
  border: none;
  margin: 0 10px;
}

.search-button {
  color: white;
  background-color: orange;
  border: none;
  border-radius: 4px;
  width: 75px;
  height: 35px;
  margin: 0.5px 1px 0.5px 0;
  font-size: 16px;
}

.row3 {
  display: flex;
}

.row3 > img {
  width: 100%;
}
