ul {
  list-style: none;
}

.container {
  margin: auto;
}

.row {
  display: flex;
}

.col-third {
  flex-basis: calc(100% / 3);
  align-items: center;
}

.header-h2 {
  color: orange;
}

.header-option {
  border: none;
}

.row1 {
  display: flex;
  align-items: center;
}
