ul {
  list-style: none;
}

.container {
  margin: auto;
  max-width: 1000px;
}

.row {
  display: flex;
}

.col-third {
  flex-basis: calc(100% / 3);
  align-items: center;
}

.header-h2 {
  color: orange;
}

.header-option {
  border: none;
}

.row1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row2 {
  display: flex;
  justify-content: center;
}

.input-search {
  width: 400px;
}

.row3 {
  display: flex;
}

.row3 > img {
  width: 100%;
}
